// Colores
$texto  : rgb(000,000,000);
$blanco : rgb(255,255,255);
$primary: rgb(230,025,065);

// Responsive
$mobile      :  480px;
$tablet      :  768px;
$laptop      :  980px;
$desktop     : 1200px;
$largedesktop: 1800px;

// Text selection
::-moz-selection { color: $blanco; background: $primary }
::selection      { color: $blanco; background: $primary }

// Scrollbar
::-webkit-scrollbar { width: 0 }

// Placeholder
::placeholder           { color: #c8c8c8; font-weight: normal; transition: .5s }
:-ms-input-placeholder  { color: #c8c8c8; font-weight: normal; transition: .5s }
::-ms-input-placeholder { color: #c8c8c8; font-weight: normal; transition: .5s }

:focus::placeholder           { color: transparent }
:focus:-ms-input-placeholder  { color: transparent }
:focus::-ms-input-placeholder { color: transparent }

// ─────────────── //
//     GENERAL     //
// ─────────────── //

* {
  box-sizing: border-box;
}

body {
  display: flex;
  color: $texto;
  background: $blanco;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden; // Preloader
}

section {
  padding: 50px 75px;
}

p {
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 0;
}

// Utils

.wrapper {
  padding-left: 20px;
  transition: .5s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: .5s ease-out;
}

// ────────────── //
//     NAVBAR     //
// ────────────── //

#navbar {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
  width: 20px;

  // Flecha

  .abrir {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 2px 5px black;
    width: 100%;
    height: 100%;
    transition: .5s;
    cursor: pointer;
  }

  .abrir:hover, .cerrar:hover { color: $primary }

  // Items

  .contenido {
    display: flex;
    background: white;
    box-shadow: 0 2px 5px black;
    position: fixed;
    left: -300px;
    top: 0;
    bottom: 0;
    height: 100vh;
    transition: .75s ease-out;
    
    .items {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: 50px 20px 0;
    
      .logo {
        margin-bottom: 50px;
        width: 150px;
        height: auto;
      }
    
      .item {
        display: inline-block;
        color: $texto;
        font-size: 35px;
        text-decoration: none;
        padding: 0 8px;
        margin-bottom: 15px;
        position: relative;
        transform: scale(.45);
    
        .trazo {
          position: absolute;
          z-index: -1;
          height: auto;
          opacity: 0;
          transition: .5s ease-in;
        }
    
        &:nth-child(2) .trazo { top:  0px; left : -15px; width: 205px; transform: rotate(-5deg) }
        &:nth-child(3) .trazo { top: -5px; right: -15px; width: 150px; transform: rotate( 6deg) }
        &:nth-child(4) .trazo { top: 10px; left:  -50px; width: 195px; transform: rotate( 3deg) }
    
        &:hover  .trazo,
        &.active .trazo { opacity: 1 }
    
        &:last-child {
          margin: 0;
        }
      }
    }

    .cerrar {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 5px;
      width: 20px;
      height: 100%;
      transition: .5s;
      cursor: pointer;
    }
  }
}

// ───────────────── //
//     PROYECTOS     //
// ───────────────── //

#proyectos {
  columns: 1;
  column-gap: 0;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 50;
  transition: .5s;

  .proyecto {
    position: relative;
    width: 100%;
    break-inside: avoid;
    overflow: hidden;
    cursor: pointer;

    img {
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
    }

    .overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rgba(255,255,255,.9);
      padding: 0 10%;

      .titulo {
        color: $texto;
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 30px;
        padding-top: 150px;
        margin-bottom: 15px;
        // margin-bottom: 5px;
        width: 100%;
        opacity: 0;
        transform: rotateX(20deg);
        transition: opacity .5s ease-in-out, padding .5s ease-out;
      }
  
      .categoria {
        color: rgba(255,255,255,.8);
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        line-height: 20px;
        position: relative;
        top: 25px;
        z-index: 50;
        width: 100%;
        opacity: 0;
        transition: opacity .5s ease-in-out, top .75s ease-in-out;

        &::after {
          content: "";
          display: block;
          background: url(../img/trazo1.png) no-repeat center;
          background-size: contain;
          position: absolute;
          top: -12px;
          // top: -14px;
          left: 55%;
          z-index: -1;
          width: 100%;
          height: 45px;
          transform: translateX(-50%) rotateZ(-5deg);
          // transform: translateX(-50%) rotateZ(-8deg);
        }
      }
    }

    &:hover .overlay { opacity: 1 }
  }
}

// Mobile First

@media (min-width: $mobile) {
  #proyectos {

    .proyecto {
      // margin: 0 0 5px;

      .overlay .titulo {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
}

@media (min-width: $tablet) {
  #proyectos {
    columns: 2;
    // column-gap: 5px;

    .proyecto {
      // border: 1px solid rgba(0,0,0,.1);

      .overlay .titulo {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}

@media (min-width: $laptop) {
  #proyectos {
    columns: 3;
  }
}

@media (min-width: $desktop) {
  #proyectos {
    columns: 4;

    .proyecto .overlay {
      padding: 0;
    }
  }
}

@media (min-width: $largedesktop) {
  #proyectos .proyecto {

    .overlay {
      padding: 0 20%;

      .titulo {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
}

// ───────────── //
//     ABOUT     //
// ───────────── //

#about {
  display: flex;
  justify-content: space-between;
  margin: 100px auto 0;
  width: 100%;
  max-width: 1500px;

  .columna:nth-child(1) {
    position: relative;

    .selfie {
      width: 480px;
      height: auto;
    }

    .trazo {
      position: absolute;
      top: 75px;
      left: -235px;
      z-index: -1;
      width: 1000px;
      height: auto;
      transform: rotate(-22deg);

      position: absolute;
      top: 32px;
      left: -350px;
      z-index: -1;
      width: 1065px;
      height: auto;
      transform: rotate(164deg);
    }
  }

  .columna:nth-child(2) {

    h2 {
      font-size: 200px;
      font-weight: 900;
      text-align: right;
      letter-spacing: -10px;
      line-height: 175px;
      margin-top: 45px;
      margin-bottom: 75px;
    }

    p {
      color: rgba(25,25,25,.75);
      font-size: 25px;
      text-align: right;
      line-height: 40px;
    }
  }
}

/*
╔════════════════╗
║     SOCIAL     ║
╚════════════════╝
*/

#redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 50;

  .red-social {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $texto;
    text-decoration: none;
    border: 5px solid $texto;
    border-radius: 50%;
    margin: 5px;
    width: 100px;
    height: 100px;
    cursor: pointer;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      border: 2px solid transparent;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      transition: .25s ease-in-out;
    }

    &:last-child {
      margin: 0;
    }

    &:hover .icon {
      border-color: $primary;
    }
  }
}

/*
╔════════════════╗
║     FOOTER     ║
╚════════════════╝
*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $texto;
  position: relative;
  z-index: 50;
  height: 45px;
}

footer p {
  color: $blanco;
  font-size: 12px;
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  transform: rotateX(25deg);
}

// ───────────────── //
//     PRELOADER     //
// ───────────────── //

#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 250;
  background-color: white;

  .logo {
    width: 250px;
    height: auto;
  }
}

// ────────────────── //
//     TOP BUTTON     //
// ────────────────── //

.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $texto !important;
  text-decoration: none !important;
  white-space: nowrap;
  background: $blanco;
  border: 1px solid rgba(25,25,25,.25);
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 150;
  width: 50px;
  height: 50px;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;

  .flecha {
    font-size: 18px;
    transition: 0.3s ease-in-out;
  }

  &:visited {
    color: $texto !important;
    border-color: rgba(25,25,25,.25);
  }

  &:hover {
    color: $primary !important;
    border-color: $primary;
  }

  &:active {
    color: $primary !important;
    border-color: $primary;
  }
}