// Colores
$texto  : rgb(000,000,000);
$blanco : rgb(255,255,255);
$primary: rgb(230,025,065);

// Responsive
$mobile      :  480px;
$tablet      :  768px;
$laptop      :  980px;
$desktop     : 1200px;
$largedesktop: 1800px;

// Text selection
::-moz-selection { color: $blanco; background: $primary }
::selection      { color: $blanco; background: $primary }

// Scrollbar
::-webkit-scrollbar { width: 0 }

// Placeholder
::placeholder           { color: $texto; font-weight: normal; transition: .5s }
:-ms-input-placeholder  { color: $texto; font-weight: normal; transition: .5s }
::-ms-input-placeholder { color: $texto; font-weight: normal; transition: .5s }

:focus::placeholder           { color: transparent }
:focus:-ms-input-placeholder  { color: transparent }
:focus::-ms-input-placeholder { color: transparent }

// ─────────────── //
//     GENERAL     //
// ─────────────── //

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: $texto;
  background: $blanco;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden; // Preloader
}

section {
  padding: 50px 75px;
}

p {
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 0;
}

// Utils

.wrapper {
  padding: 0 0 0 50px;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: .5s ease-out;
}

.boton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $texto;
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  border: 1px solid $texto;
  letter-spacing: 5px;
  padding: 10px 25px;
  height: 50px;
  transition: .25s ease-in;
  cursor: pointer;

  .rosa {
    color: $primary;
  }

  &:hover {
    color: $blanco;
    background: $texto;
  }
}

@media only screen and (min-width: $tablet) {
  .wrapper {
    padding: 50px 0 0 50px;
  }
}

// ────────────── //
//     TOPBAR     //
// ────────────── //

#filtro {
  display: none;
  align-items: center;
  justify-content: center;
  background: $blanco;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 150;
  width: 100%;
  height: 50px;

  .opcion {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $texto;
    font-size: 8px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    $blanco-space: nowrap;
    padding: 0 22px;
    position: relative;
    height: 100%;
    transition: .25s;

    &.active,
    &:hover {
      color: $primary;
    }

    &::after {
      content: "";
      display: block;
      background: $texto;
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 5px;
      opacity: .15;
      transform: translateY(-50%);
    }

    &:first-child {
      padding-left : 0 ;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

// Mobile First

@media only screen and (min-width: $tablet) {
  #filtro {
    display: flex;
  }
}

// ─────────────── //
//     SIDEBAR     //
// ─────────────── //

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blanco;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 150;
  width: 50px;

  .titulo {
    font-size: 8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    white-space: nowrap;
    transform: rotateZ(-90deg);

    span {
      color: $primary;
    }
  }
}

// ────────────── //
//     NAVBAR     //
// ────────────── //

#burger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  width: 50px;
  height: 50px;
  cursor: pointer;

  .barras {
    position: relative;
    width: 24px;
    height: 17px;

    .barra {
      display: block;
      background: $texto;
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      transition: .25s;
  
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 8px;
      }
      &:nth-child(3) {
        top: 16px;
      }
    }
  }

  &:hover .barras .barra {
    background: $primary;
  }
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $blanco;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  width: 100%;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: .25s opacity ease-out;

  .item {
    display: inline-block;
    color: $texto;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10px;
    margin-bottom: 50px;
    position: relative;
    opacity: 0;
    transition: .25s;

    .trazo {
      position: absolute;
      z-index: -1;
      height: auto;
      opacity: 0;
      transition: .25s ease-out;
    }

    &:nth-child(1) .trazo { top:   0px; left : -15px; width: 205px; transform: rotate(-5deg) }
    &:nth-child(2) .trazo { top: -13px; right: -15px; width: 150px; transform: rotate( 6deg) }
    &:nth-child(3) .trazo { top:   5px; left:  -50px; width: 195px; transform: rotate( 3deg) }

    &:hover  .trazo,
    &.active .trazo { opacity: 1 }

    &:last-child {
      margin: 0;
    }
  }
}

// ───────────────── //
//     PROYECTOS     //
// ───────────────── //

#proyectos {
  columns: 1;
  column-gap: 0;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 50;

  .proyecto {
    position: relative;
    width: 100%;
    break-inside: avoid;
    overflow: hidden;
    cursor: pointer;

    img {
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
    }

    .overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rgba(255,255,255,.9);
      padding: 0 10%;
      transition: .5s;

      .titulo {
        color: $texto;
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 30px;
        position: relative;
        top: 150px;
        margin-bottom: 15px;
        width: 100%;
        opacity: 0;
        transform: rotateX(20deg);
        transition: .5s;
      }
  
      .categoria {
        color: rgba(255,255,255,.8);
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        line-height: 20px;
        position: relative;
        top: 25px;
        z-index: 50;
        width: 100%;
        opacity: 0;
        transition: .5s;

        &::after {
          content: "";
          display: block;
          background: url(../img/trazo1.png) no-repeat center;
          background-size: contain;
          position: absolute;
          top: -12px;
          left: 55%;
          z-index: -1;
          width: 100%;
          height: 45px;
          transform: translateX(-50%) rotateZ(-5deg);
        }
      }
    }

    &:hover .overlay {
      opacity: 1;

      .titulo {
        -webkit-animation: subir-titulo .5s ease-out .25s forwards;
                animation: subir-titulo .5s ease-out .25s forwards;
      }

      .categoria {
        -webkit-animation: subir-categoria .5s ease-out .75s forwards;
                animation: subir-categoria .5s ease-out .75s forwards;
      }
    }
  }
}

// Mobile First

@media (min-width: $mobile) {
  #proyectos {

    .proyecto {
      // margin: 0 0 5px;

      .overlay .titulo {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
}

@media (min-width: $tablet) {
  #proyectos {
    columns: 2;
    // column-gap: 5px;

    .proyecto {
      // border: 1px solid rgba(0,0,0,.1);

      .overlay .titulo {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}

@media (min-width: $laptop) {
  #proyectos {
    columns: 3;
  }
}

@media (min-width: $desktop) {
  #proyectos {
    columns: 4;

    .proyecto .overlay {
      padding: 0;
    }
  }
}

@media (min-width: $largedesktop) {
  #proyectos .proyecto {

    .overlay {
      padding: 0 20%;

      .titulo {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
}

// Animaciones

@-webkit-keyframes subir-titulo {
  from { top: 150px; opacity: 0 }
  to   { top:   0px; opacity: 1 }
}

@keyframes subir-titulo {
  from { top: 150px; opacity: 0 }
  to   { top:   0px; opacity: 1 }
}

@-webkit-keyframes subir-categoria {
  from { top: 25px; opacity: 0 }
  to   { top:  0px; opacity: 1 }
}

@keyframes subir-categoria {
  from { top: 25px; opacity: 0 }
  to   { top:  0px; opacity: 1 }
}

// ───────────── //
//     ABOUT     //
// ───────────── //

#about {
  text-align: center;
  padding: 0 25px;

  // Selfie

  .selfie {
    display: inline-block;
    padding: 50px 0 0;
    margin-bottom: 25px;
    position: relative;

    .foto {
      width: 100%;
      max-width: 480px;
      height: auto;
    }

    .trazo {
      display: none;
    }
  }

  .texto {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;

    p {
      text-align: right;
      margin: 0;
    }
  }

  // Conocimientos

  .conocimientos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 100%;
    max-width: $tablet;

    .fila {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 100%;

      .conocimiento {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin: 10px 0 10px 100px;
        position: relative;
        width: 100px;
        height: 100px;
  
        .titulo {
          font-size: 10px;
        }
  
        .grafico {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }

  // Nociones

  .nociones {
    text-align: right;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }
}

// Mobile First

@media only screen and (min-width: $mobile) {
  
  #about {

    .texto {
      -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
      column-gap: 10px;

      p {
        text-align: left;
      }
    }

    .conocimientos {
      margin: 60px auto;

      .fila {
        justify-content: center;
        flex-wrap: nowrap;
  
        .conocimiento {
          margin: 10px;
        }
      }
    }

    .nociones {
      text-align: center;
    }
  }
}

@media only screen and (min-width: $tablet) {
  
  #about {
    padding: 0;

    .selfie {
      padding: 0;
      margin-bottom: 50px;
    }

    .conocimientos {
      flex-wrap: nowrap;
      padding: 0;

      .fila {
        justify-content: flex-start;

        .conocimiento {
          margin: auto;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  
  #about .selfie .trazo {
    display: block;
    position: absolute;
    top: 32px;
    left: -350px;
    z-index: -1;
    width: 1065px;
    height: auto;
    transform: rotate(164deg);
  }
}

// ──────────────── //
//     CONTACTO     //
// ──────────────── //

.cabecera {
  color: rgba(255,255,255,.8);
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  line-height: 20px;
  margin: 50px 0 0;
  position: relative;

  &::after {
    content: "";
    background: url(../img/trazo1.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: -15px;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: 50px;
    transform: translateX(-50%) rotateZ(-5deg);
  }
}

#contacto {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 50px 50px 0 0;
  margin: 0 auto;
  width: 100%;
  
  .formulario {
    padding: 25px 50px;
    max-width: 750px;

    .entrada {
      resize: none;
      background: none;
      border: none;
      border: 1px solid $texto;
      outline: none;
      padding: 15px 20px;
      margin-bottom: 25px;
      width: 100%;

      &:nth-child(4) {
        height: 200px;
      }
    }

    .boton {
      width: 100%;
      
      &:hover {
        color: $blanco;
        background: $primary;
        border-color: $primary;
      }
    }
  }

  .datos-contacto {
    color: $texto;
    font-size: 8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 25px 50px;
  }
}

// Mobile First

@media only screen and (min-width: $mobile) {

  #contacto {
    flex-direction: row;

    .formulario {
      border-right: 1px solid $texto;
      margin-right: 50px;
    }

    .datos-contacto {
      padding: 0;
      position: relative;
      width: 35px;
      height: 10px;
      
      .dato-contacto {
        position: absolute;
        transform: rotateZ(90deg);
        
        &.email {
          top: 140px;
          left: -130px;

          .dominio {
            display: inline;
          }
        }
  
        &.telefono {
          top: 57px;
          left: -18px;
        }
      }
    }
  }
}

// ────────────── //
//     FOOTER     //
// ────────────── //

footer {
  border-top: 1px solid $texto;
  margin: 150px 50px 0;
  padding: 100px 0;

  // Currículo

  .curriculo {
    margin: 0 auto 50px;
    width: 200px;
    max-width: 500px;
  }

  // Redes sociales

  .redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    z-index: 50;
    width: 100%;
    max-width: 500px;
  
    .red-social {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $texto;
      font-size: 8px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 5px;
      text-decoration: none;
      border-bottom: 1px solid $texto;
      padding: 0 20px 5px;
      margin: 5px 0 0;
      margin-right: 5px;
      width: 125px;
      transition: .25s ease-in;

      &:last-child {
        margin-right: 0;
      }
  
      &:hover {
        color: $primary;
      }
    }
  }
}

// Mobile First

@media only screen and (min-width: $mobile) {

  footer {

    .curriculo {
      width: 300px;
    }

    .redes-sociales {
      justify-content: space-between;

      .red-social {
        margin: 5px 0;
        width: auto;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {

  footer {
    
    .curriculo {
      width: 100%;
    }

    .redes-sociales {

      .red-social {
        padding: 0 25px 5px;
      }
    }
  }
}

// ───────────────── //
//     PRELOADER     //
// ───────────────── //

#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blanco;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;

  .logo {
    width: 250px;
    height: auto;
  }
}

// ────────────────── //
//     TOP BUTTON     //
// ────────────────── //

.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $texto !important;
  text-decoration: none !important;
  $blanco-space: nowrap;
  background: $blanco;
  border: 1px solid $texto;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 150;
  width: 50px;
  height: 50px;
  opacity: 0;
  overflow: hidden;
  transition: 0.25s;

  .flecha {
    font-size: 18px;
  }

  &:visited {
    color: $texto !important;
    border-color: $texto;
  }

  &:hover {
    color: $primary !important;
    border-color: $primary;
  }

  &:active {
    color: $primary !important;
    border-color: $primary;
  }
}